* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color: #fff;
  font-size: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2em;
  height: 100vh;
  font-family: "Inter", sans-serif;
  background: linear-gradient(hsl(218, 30%, 20%), hsl(218, 25%, 15%));
}

div.wrapper {
  display: inherit;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: linear-gradient(hsl(219, 14%, 20%), hsl(219, 13%, 25%));
  padding: 3em 6em;
  border-radius: 1.5em;
  box-shadow: 0px 0px 10px 3px hsl(218, 40%, 10%);
  justify-items: center;
}

.app-body {
  display: inherit;
  justify-content: center;
  align-items: center;
}

.section-left {
  display: flex;
  flex-direction: column;
}

.section-right {
  display: flex;
  flex-direction: column;
}

p,
h1 {
  padding: 0.5em;
  text-align: center;
  /* border: red 1px solid; */
}

button {
  font-size: 1.5rem;
  background: linear-gradient(135deg, hsl(158, 88%, 80%), hsl(108, 75%, 86%));
  border: solid 1px hsl(108, 75%, 86%);
  height: 2.5em;
  width: 5em;
  margin: 2em;
  border-radius: 2em;
  align-self: flex-end;
}

button:hover {
  background: linear-gradient(
    45deg,
    hsla(158, 88%, 80%, 0.8),
    hsl(108, 75%, 86%, 0.8)
  );
  border: solid 1px hsl(108, 75%, 86%, 0.8);
}

input {
  background: transparent;
  border: transparent;
  width: 8em;
  height: 2em;
  font-size: 2.5rem;
  margin-top: 0.5em;
  color: #222;
  text-align: center;
  background: #ededed;
  border-radius: 1em;

  -webkit-box-shadow: inset 2em 2em 2em -1em #b3b3b3,
    inset -2em -2em 2em -1em white;
  box-shadow: inset 2em 2em 0.75em -1em #b3b3b3, inset -2em -2em 2em -1em white;
  border: #cccccc 2px solid;
}

select {
  height: 2em;
  font-size: 2.5rem;
  text-align: center;
  background: transparent;
  border: transparent;
  color: #fff;
}

option {
  background: hsl(218, 40%, 10%);
}

span {
  border: 1px red solid;
}

.bold {
  font-weight: bold;
}
